/* Links em geral */
a{
    color:orangered;
}

/* Links já visitados */
a:visited{
    color: green;
}

/* Link enquanto o mouse está sobre ele */
a:hover{
    /* color:orange; */
    filter: brightness(150%); /* Cor 20% mais brilhante */
    text-decoration: underline; /* Volta o sublinhado */
}